<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>293840286355-q69dbb5cqipltsuai9ea7og9b9t5npkt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.293840286355-q69dbb5cqipltsuai9ea7og9b9t5npkt</string>
	<key>API_KEY</key>
	<string>AIzaSyBlyQ7pmoPM8lPFT8NfixdA2XaBsejGgcw</string>
	<key>GCM_SENDER_ID</key>
	<string>293840286355</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nikwalton.CougsPlan</string>
	<key>PROJECT_ID</key>
	<string>cougsplan</string>
	<key>STORAGE_BUCKET</key>
	<string>cougsplan.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:293840286355:ios:971323eb1f04842f58d366</string>
</dict>
</plist>